.Admin_gird{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 0px 10px;
}
.Admin{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Admin_container{
    width: 100%;
    border-width: 14px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    /* padding-bottom: 2px; */
    /* margin: 2px; */
}
.Admin_infromation{
    display: flex;
    align-items: center;
}
.Admin_avatar{
    padding: 3px;
    padding-right: 10px;
}
.buttons{
    display: flex;
}
.button_display{
    background-color:#389b5f;
    border: none;
    border-radius: 30px;
    width:100px;
    height: 40px;
    font-size: 15px;
    /* font-weight: 500; */
    outline: none;
    transform: translateY(2px);
    text-decoration: none;   
    cursor: pointer;
    transition-duration: 0.4s;
    color: white;
    margin: 10px;
}
.pagination_container{
    display: flex;
    justify-content: center;
    margin: 5px;
}
.popup_container{
    border-radius: 5px;
    margin: 20px;
}
.popup_container, .overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
.overlay{
    background: rgba(49, 49, 49, 0.284);
}
.popu_conten {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #141b2d;
    padding: 14px 28px;
    border-radius: 3px;
    min-width: 750px;
    min-height: 544px;
}
.close_popu {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    background-color: rgb(216, 32, 32);
    color: white;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.close_popu:hover{
    background-color: rgb(150, 14, 14);
}
.body.active-popup {
    overflow-y: hidden;
}
.admin_info{
    padding: 20px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 18px;
}
.admin_data{
    border-radius: 7px;
    width: 250px;
    margin: 10px;
    background-color: #f5f5f5e7;
    height: 40px;
    padding: 5px;
    color: black;
    font-size: revert;
    margin : 20px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(213, 153, 153);
}
.search_container{
    width: 99%;
}